#a-box {
  height: 200px;
  background-color: #999;
  text-align: center;
  margin-bottom: 100px;
}

.small, .medium {
  border: 1px solid black;
  height: 100px;
}

.small {
  width: 500%;
  padding: 1em
  margin: 1em;
}

.medium {
  width: 400px;
  padding: 1em;
  margin: 1em;	
}

